<div class="form_container">
  <div class="form_card">
    <h2>Add a recipe to this category</h2>

      <%= simple_form_for [@category, @bookmark], url: category_bookmarks_path(@category), local: true do |f| %>

      <%= f.association :recipe, collection: Recipe.all, prompt: "Choose a recipe" %>

      <%= f.input :comment, as: :text, label: "Description", placeholder: "Write your decription here..." %>

      <%= f.hidden_field :redirect_to, value: category_path(@category) %>
      <%= f.button :submit, "Add Recipe to Category", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

<%= link_to 'Back to Categories', categories_path, class: "btn btn-secondary" %>
