<h1><%= @category.name %></h1>

<h3><%= @category.description %></h3>

<div class="cards">
  <% @bookmarks.each do |bookmark| %>
    <div class="card">
        <h5 class="card-title"><%= bookmark.recipe.name %></h5>
        <p class="card-text"><%= bookmark.recipe.description %></p>
        <%= image_tag bookmark.recipe.image_url %>
        <%= link_to 'Delete', category_bookmark_path(@category, bookmark), class: "btn btn-danger", data: { turbo_method: :delete, data_confirm: 'Are you sure you want to remove this recipe?' } %>
      </div>
  <% end %>
</div>

<%= link_to 'Add a recipe to this category', new_category_bookmark_path(@category) %>
<br>
<br>
<%= link_to 'Back to Categories', categories_path %>
