<h1 class="card-title"><%= @category.name %></h1>
<h3 class="card-title"><%= @category.description %></h3>
<%= link_to 'Add a recipe to this category', new_category_bookmark_path(@category), class: "card-title btn btn-primary" %>


<div class="cards">
  <% @bookmarks.each do |bookmark| %>
    <div class="card">
        <h5 class="card-title"><%= bookmark.recipe.name %></h5>
        <%= image_tag bookmark.recipe.image_url, class: "uniform-size" %>
        <br>
        <div class="star-rating">
          <% (1..10).each do |i| %>
            <% if i <= bookmark.recipe.rating %>
              <i class="fas fa-star"></i> <!-- Filled star -->
            <% else %>
              <i class="far fa-star"></i> <!-- Empty star -->
            <% end %>
          <% end %>
        </div>
        <br>
        <p class="card-text"><%= bookmark.recipe.description %></p>
        <%= link_to 'Delete', category_bookmark_path(@category, bookmark), class: "btn btn-danger", data: { turbo_method: :delete, confirm: 'Are you sure you want to remove this recipe?' } %>
      </div>
  <% end %>
</div>

<%= link_to 'Back to Categories', categories_path, class: "card-title btn btn-primary" %>
